<!DOCTYPE html>
<html>

<head>
    <title>books</title>
</head>

<body>
    <h1>Books</h1>
    <table>
        <tr>
            <th>Book Title</th>
            <th>Author</th>
        </tr>
        <!-- Add book rows here -->
    </table>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/books/">books</a></li>
                <li><a href="/admin/">admin</a></li>
            </ul>
        </nav>
    </header>

</body>

</html>

